-i http://mirrors.aliyun.com/pypi/simple/
APScheduler==3.6.3
beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
daemonic==0.6
idna==2.9
lxml==4.6.3
pytz==2019.3
requests==2.23.0
six==1.14.0
soupsieve==1.9.5
tzlocal==2.0.0
urllib3==1.25.8
